<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="StreamSea">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="STREAM_SEA_URL" value="http://localhost:3104" force="true" />
        <env name="STREAM_SEA_CREDENTIALS" value="app123:01234567890123456789" force="true" />
    </php>
</phpunit>